<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
</head>

  <!-- Style -->
  
    <link href="css/app.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/frontend.css" rel="stylesheet">
    
<body>
    <!-- navbar -->

    <nav class="navbar navbar-expand-lg navbar-dark shadow-sm" style="background-color: rgb(29, 11, 46); padding: 10px;">
        <a class="navbar-brand fw-600 md:ml-5" href="#">Mooby.co.id</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" style="margin-left: 50px; font-size: 16px;">
            <li class="nav-item">
              <a class="nav-link" href="Home.html">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
        </div>
      </nav>

      <!-- Content --> 

      <div class="page-hero-section bg-image hero-home-1" style="background-image: url(img/Untitled-2.jpg);">
          <div class="hero-caption">
              <div class="container" style="color: white;">
                <div class="py-4">
                    <div class="col-lg-6" style="font-weight: 600; font-size: 40px; margin-top: 80px;">
                      Welcome to Mooby <hr>
                    </div>
                    <div class="col-lg-7" style="margin-bottom: 100px;">
                      <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum corrupti odit ma
                        vero nesciunt id, nisi ad ullam. <p>placeat ratione, ea ab omnis quis hic repudiandae 
                          maxime deserunt, voluptate assumenda.</p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nesciunt illum iure explicabo, delectus nisi labore, commodi, 
                          architecto omnis minima consequatur inventore eum quas. Corrupti deleniti quaerat repudiandae cupiditate iure.
                      </p>
                    </div>
                </div>
              </div>
          </div>
      </div>

      <!-- About -->

     <div class="mt-4">
      <div class="fw-700 ta-2" style="font-size: 25px;">
        About
       </div>
       <div class="container">
         <div class="row">
           <div class="col-lg-5 py-3">
             <div class="img-place">
                <img src="/views/img/appPhone.png">
             </div>
           </div>
           <div class="col-lg-6 py-4">
             <div class="fw-700">
               Lorem ipsum dolor sit. <hr>
             </div>
             Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius fugiat fugit expedita maxime 
             commodi mollitia eaque magni quam, laborum assumenda iste dicta recusandae magnam corrupti
             blanditiis exercitationem laboriosam culpa alias? 
             <div class="mt-2">
             <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. 
               Ducimus non dolorum assumenda culpa veritatis voluptas sequi voluptatum, 
               illo nostrum officiis aspernatur doloribus accusantium, in, animi facilis iste harum eveniet itaque.
             </p>
            </div>
           </div>
         </div>
       </div>
     </div>
     
     <!-- Contact -->

     .

      <!-- footer -->

      <div class="foot">
        <div class="row">
          <div class="col-12 col-md-6 text-light">
            <p class="d-inline-block ml-6 mt-3">Copyright  &copy;<a href="#" class="text-white"> ClairdeLune.co.id</a></p>
          </div>
            <div class="d-inline col-12 col-md-6 py-2" style="font-size: 14px;">
              <ul class="nav justify-content-end mr-4">
                <li class="nav-item"><a href="#" class="nav-link text-white">Terms of Use</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white">Privacy Policy</a></li>
                <li class="nav-item"><a href="#" class="nav-link text-white">Cookie Policy</a></li>
              </ul>
            </div>
        </div>
      </div>


      <!-- Script -->

      <script src="js/bootstrap.js"></script>
</body>
</html>